* {
  font-family: roboto-regular;
  outline: 0;
  margin: 0;
  padding: 0;

  -ms-touch-action: pan-x pan-y;
  touch-action: manipulation;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.header {
  width: 100vw;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header.scroll {
  background-color: #252525;
  box-shadow: 0 0 15px #222;
}

.logo {
  float: left;
  margin-left: 50px;
  color: white;
  font-size: 14pt;
  margin-top: 20px;
}

.header-menus {
  float: right;
  color: white;
  margin-right: 100px;
}

.header-menu {
  display: inline-block;
  font-size: 14pt;
  margin-right: 40px;
  margin-top: 20px;
  cursor: pointer;
}

.footer {
  width: 100%;
  height: 100px;
  background-color: #252525;
  color: white;
  padding: 0 50px;
}

.copyright {
  float: left;
  margin-top: 40px;
}

.footer-col {
  float: right;
  margin-top: 40px;
}

.footer-item {
  display: inline-block;
  margin-right: 50px;
}

.section {
  width: 100vw;
  height: 550px;
  position: relative;
}