* {
  font-family: roboto-regular;
  outline: 0;
  margin: 0;
  padding: 0;

  -ms-touch-action: pan-x pan-y;
  touch-action: manipulation;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.header {
  width: 100vw;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #795548;
  z-index: 1000;
  box-shadow: 0 0 15px #222;
}

.header-menus {
  float: right;
  color: white;
  margin-right: 100px;
}

.header-menu {
  display: inline-block;
  font-size: 14pt;
  margin-right: 40px;
  margin-top: 20px;
  cursor: pointer;
}

.header-space {
  width: 100vw;
  height: 70px;
}

.footer {
  width: 100%;
  height: 200px;
  background-color: #795548;
}

.section {
  width: 100vw;
  height: 500px;
  position: relative;
}